ext/ linguist-vendored

*.h linguist-language=C++
*.hpp linguist-language=C++


.github/ linguist-generated
CMakeLists.txt linguist-generated
*.sh linguist-generated


*.md linguist-documentation
*.txt linguist-documentation